<!doctype html>
<html lang="en">

<head>
    <title>Leave a Feedback</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form method="post" action="/send_feedback">
            <div class="row">
                <div class="col-md-2">
                    <div class="col-md-8">
                        <h1 class="text-center mt-5 font-weight-bold">Feedback</h1>
                        <hr class="bg-white">
                        <h5 class="mt-2">Overall Experience</h3>
                    </div>
                </div>
            </div>
            <label class="radiobtn"><input type="radio" name="experience" value="bad">Good</label>
            <label class="radiobtn"><input type="radio" name="experience" value="bad">Acceptable</label>
            <label class="radiobtn"><input type="radio" name="experience" value="bad">Bad</label>
            <div class="row">
                <div class="col-md-2"></div>
                    <label class="col-md-4">Full Name<br>
                    <input type="text" id="text" name="name"></label>
                    <label class="col-md-4">Email<br>
                    <input type="text" id="text" name="email"></label>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                    <label class="col-md-4">Phone Number<br>
                    <input type="number" id="text" name="number"></label>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                    <label class="col-md-4">Additional comments<br>
                    <textarea id="comments" cols="80" rows="5" name="message"></textarea></label>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <button class="btn btn-primary" style="width: 55%; position:relative">Send Feedback</button>
            </div>
        </form>                  
    </div>
</body>
</html>